<div class="product-list">
  {% for product in products %}
    <div class="product-item">
      <img class="product-image" src="{{ product.item_image.url }}" alt="{{ product.item_name }}" />
      <div class="product-details">
        <div class="product-name">{{ product.item_name|title }}</div>
        <p class="product-price">Kshs. {{ product.item_price }}</p>
        <div class="product-actions">
          <a href="{% url 'app:product_detail' product.item_slug %}" class="btn form"> View </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

