{% extends 'base.html' %} {% block content %}
<div id="productapp">
  <nav class="breadcrumb" aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-muted" href="{% url 'app:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a
          class="text-muted"
          href="{% url 'app:category_detail' product.item_category.slug %}"
        >
          {{ product.item_category.name }}</a
        >
      </li>
      <li class="breadcrumb-item is-active">
        <a
          class="text-muted"
          href="{% url 'app:product_detail' product.item_slug %}"
          >{{ product.item_name }}</a
        >
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-4">
      <figure class="image is-4by3">
        <img :src="mainImage" />
      </figure>
    </div>
  </div>

  <div class="container-fluid product">
    <div class="row">
      <div class="col-md-4">
        <figure class="image is-48x48">
          {% if product.item_image %}
          <img class="product-image" src="{{ product.item_image.url }}" />
          {% endif %}
        </figure>
      </div>
      <div class="col-md-4">
        <h1 class="item_name">{{ product.item_name|title }}</h1>
        <h2 class="item_price">KES {{ product.item_price }}</h2>
        <h4>Description</h4>
        <div style="overflow: hidden">
          {{ product.item_description |lower|capfirst}}
        </div>
      </div>
      <div class="col-md-4">
        {% if request.user.merchant.id == product.user.id %}
        <a
          href="{% url 'app:product_update' product.item_slug %}"
          class="btn form"
        >
          <i class="fa-solid fa-pencil"></i>Edit
        </a>
        <a href="/product/delete/{{ product.id }}" class="btn form">
          <i class="fa-solid fa-trash-can"></i>Delete
        </a>
        {% endif %} {% if request.user.customer %}
        <form
          action="{% url 'app:add_to_cart' product.item_slug %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn form">
            <i class="fa-sharp fa-solid fa-cart-plus"></i>
          </button>
        </form>
        {{item}} {% if item %}
        <form
          action="{% url 'app:remove_from_cart' product.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn form">
            <i class="fa-solid fa-cart-xmark"></i>
          </button>
        </form>

        {% endif %} {% endif %}
      </div>
    </div>
  </div>

  <hr />

  <h2 class="subtitle">Related products</h2>
  <div class="product-list">
    {% for product in related_products %}
    <a href="{% url 'app:product_detail' product.item_slug %}">
      <div class="product-item">
        <img
          class="product-image"
          src="{{ product.item_image.url }}"
          alt="{{ product.item_name }}"
        />
        <div class="product-details">
          <div class="product-name">{{ product.item_name|title }}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
