{% extends 'base.html' %}{% load static %} {% block content %}

<div class="container">
  <div class="profile-header">
    <h1>{{ merchant.user.first_name }}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-details">
        <p><strong>Business Name:</strong> {{ merchant.business_name }}</p>
        <p><strong>Account Type:</strong> {{ merchant.account_type }}</p>
        <p><strong>Account Number:</strong> {{ merchant.account_no }}</p>
        <div class="profile-image">
          <img
            class="img-thumbnail"
            src="{{ merchant.business_image.url }}"
            alt=""
          />
        </div>
        <p>
          <strong>Business Description:</strong>
          {{merchant.business_description}}
        </p>
        <p><strong>Location:</strong> {{ merchant.location }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact-info">
        <p><strong>Contact Information:</strong></p>
        <ul>
          <li><strong>Email:</strong> {{ merchant.user.email }}</li>
          <li><strong>Phone:</strong> {{ merchant.user.phone }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="edit-buttons">
        <button
          type="submit"
          class="btn btn-sm btn-danger"
          data-toggle="modal"
          data-target="#user"
        >
          <i class="fa-solid fa-pencil"></i>
          Edit User
        </button>
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#business"
        >
          <i class="fa-solid fa-pencil"></i>
          Edit Business
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="user">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Your Profile</h4>
        <a class="btn-close" data-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{user_form.as_p}}

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>

            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="business">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Your Business Profile</h4>
        <a class="btn-close" data-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{merchant_form.as_p}}

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-sm" type="submit">Submit</button>

            <button type="button" class="btn btn-sm" data-dismiss="modal">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
