{% extends 'base.html' %} {% block content%}
<div class="container my-5">
  <div class="table-responsive">
    <h2 class="text-center my-5">
      <b>Your Cart</b>
    </h2>
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Item title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Item Price</th>
        </tr>
      </thead>
      <tbody>
        {% if items %}
        {% for item in items %}
        <tr class="text-center">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{ item.item.item_name| title}}</td>
          <td>{{item.item.item_price}}</td>
          <td>
            <a href='{% url "app:remove_single_item_from_cart" item.item.item_slug %}'>
              <i class="fas fa-minus mr-2"></i>
            </a>
            {{item.quantity}}
            {% if item.item.item_count > item.quantity %}
            <a href='{% url "app:add_to_cart" item.item.item_slug %}'>
            <i class="fas fa-plus ml-2"></i>
            </a>
            {% endif %}
          </td>
          <td>
            <span>
            KES {{item.item_total}}
          </span>
            <a
              style="color: red"
              href='{% url "app:remove_from_cart" item.item.item_slug %}'
              ><i class="fas fa-trash float-right"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="text-center">
          <td colspan="5">Your cart is empty</td>
        </tr>
        <tr>
          <td colspan="5">
            <a class="btn btn-warning float-right" href="{% url 'app:index' %}">
              Continue Shopping
            </a>
          </td>
        </tr>
        {% endif %}
        <tr class="text-center font-weight-bold">
          <td colspan="4">Cart Total</td>
          <td>KES {{ total }}</td>
        </tr>
        <tr class="text-center">
          <td colspan="5">
            {% comment %} <a class="btn btn-warning mx-2" href="{% url 'app:generate_order' %}">
              Continue to Checkout
            </a> {% endcomment %}
            <a class="btn btn-warning" href="{% url 'app:index' %}">
              Continue Shopping
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock%}
