{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apparels</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" />

  <link rel="icon" type="image/x-icon" href="{% static 'images/dresh.png' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
</head>

<body>
  {% include 'navbar.html' %}
  {% block content %}

  {% endblock %}
  {% include 'footer.html'%}
  {% block scripts %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="{% static 'js/script.js' %} "></script>
  <script>
    function loadCSS(url) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = url;
      document.getElementsByTagName('head')[0].appendChild(link);
    }

    window.addEventListener('load', function () {
      loadCSS("{% static 'css/index.css' %}");
      loadCSS("{% static 'css/product_list.css' %}");
      loadCSS("{% static 'css/product_detail.css' %}");
      loadCSS("{% static 'css/carousel.css' %}");
    });
  </script>
  {% endblock %}
</body>

</html>
