{% load static %}

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__section">
      <div class="footer__logo">
        <img src="{% static 'images/dresh.png' %}" alt="Apparels" />
      </div>
      <div class="footer__contact">
        <div class="footer__info">
          <span class="footer__phone">
            <a href="tel:(+254)791665710">(+254)791665710</a>
          </span>
          <span class="footer__email">
            <a href="mailto:storepify@company.com" target="_blank">apparels@company.com</a>
          </span>
        </div>
      </div>
    </div>

    <div class="footer__section">
      <h3 class="footer__title"><span>QUICK LINKS</span></h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="/account/" class="footer__link">My Account</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Accessibility</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Need Help?</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h3 class="footer__title"><span>INFORMATION</span></h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="/pages/about-us-1" class="footer__link">About Us</a></li>
        <li class="footer__item"><a href="/pages/contact" class="footer__link">Contact Us</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Sitemap</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Tracking Order</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Payment Methods</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h3 class="footer__title"><span>LEGAL</span></h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="/pages/privacy-policy" class="footer__link">Privacy Policy</a></li>
        <li class="footer__item"><a href="/pages/terms-of-service" class="footer__link">Terms of Service</a></li>
        <li class="footer__item"><a href="/pages/shipping" class="footer__link">Shipping</a></li>
        <li class="footer__item"><a href="/pages/returns-and-refunds-policy" class="footer__link">Returns and Refunds Policy</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Cancellation &amp; Modification</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__copyright">
    <div class="footer__text">&copy; 2023 Copyright By Apparels
    </div>
  </div>
</footer>
