{% load static %} {% load cart_template_tags %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="scroll">
  <div class="container-fluid">

    <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'app:index' %}">
      <img src="{% static 'images/dresh.png' %}" alt="logo" class="logo" loading="lazy" />
      <code class="name">Apparels</code>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:about_page'%}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

        {% if request.user.merchant %}
        <a href="{% url 'app:product_create' request.user.merchant.id %}" class="nav-link btn btn-sm">
          Add Products
        </a>
        {% else %}
        <a href="{% url 'app:product_list' %}" class="nav-link btn btn-sm">Shop Now</a>
        {% endif %}

        <div class="dropdown">
          <a class="nav-link me-3 dropdown-bs-toggle" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in menu_categories %}
            <a class="dropdown-item" href="{% url 'app:category_detail' category.slug %}">
              {{ category.name |title}}
            </a>
             {% endfor %}
          </div>
        </div>


        {% if request.user.customer %}
        <div>
          <a href="/cart" class="nav-link">
            <i class="fa fa-cart-shopping"></i>
            <span class="badge bg-danger">{{ request.user.customer|cart_item_count }}</span>
          </a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <!-- Notifications -->
        <div class="dropdown">
          <a class="nav-link text-reset me-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            aria-expanded="false" data-bs-toggle="dropdown">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>


        {% if request.user.merchant %}

        <div class="dropdown">

          <a class="nav-link text-reset me-3 dropdown-toggle" href="#" id="navbarDropdownMenuAvatar" role="button"
            aria-expanded="false" data-bs-toggle="dropdown">


            {% if request.user.customer.image%}

            <img src="{{request.user.customer.image.url}}" class="rounded-circle img-thumbnail" height="25"
              alt="Black and White Portrait of a Man" loading="lazy" />

            {%else%}

            {{ request.user.first_name |title}}

            {% endif %}

          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" href="{% url 'app:merchant_profile'%}">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'app:logout' %}">Logout</a>
            </li>
          </ul>

        </div>

        {% else %}

        <div class="dropdown">

          <a class="nav-link text-reset me-3 dropdown-toggle" href="#" id="navbarDropdownMenuAvatar" role="button"
            aria-expanded="false" data-bs-toggle="dropdown">

            {% if request.user.customer.image%}

            <img src="{{request.user.image.url}}" class="rounded-circle" height="25"
              alt="Black and White Portrait of a Man" loading="lazy" />

            {%else%}

            {{ request.user.first_name |title}}

            {% endif %}
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" href="{% url 'app:customer_profile'%}">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'app:logout' %}">Logout</a>
            </li>
          </ul>

        </div>
        {% endif %} {% else %}

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#signupModalCenter">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:login' %}"> Sign In </a>
        </li>


        {% endif %}
      </ul>

    </div>

  </div>
</nav>

<!-- Sign Up Modal -->
<div class="modal fade" id="signupModalCenter" tabindex="-1" role="dialog" aria-labelledby="signupModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLongTitle">
          <strong>Sign Up As</strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a class="btn" href="{% url 'app:merchant_signup' %}">Merchant</a>
        <a class="btn" href="{% url 'app:customer_signup' %}">Customer</a>
      </div>
    </div>
  </div>
</div>